@{
	ViewData["Title"] = "Bu ExampleController Index Sayfasi";
	Layout = "ExampleLayout"; // layout yerini ozellestirme kullanmamak icin Layout=null; sec

}

@section header{

	<p>Bu kodlar header a tek yazildi</p>
}
@section footer{

	<p>Bu kodlar footer a tek yazildi</p>
}
<div>Bu sayfa Example Controller > Index Sayfasi</div>
